body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

p {
    color: rgb(80, 80, 80);
    text-align: justify;
}

.orange-text {
    color: orange;
}

.flexible-baksho {
    display: flex;
}

.half-width {
    width: 40%;
    padding: 5%;
}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background: url("../img/top-banner.png");
    background-repeat: no-repeat;
}

.dream-big {
    background: url("../img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background: url("../img/exp-bg.png");
    background-repeat: no-repeat;
}

.experience-item {
    width: 36%;
    margin: 2% 5%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.experience-heading {
    width: 95%;
    padding-left: 5%;
    margin: 0;
}

#exp-item-one {
    border-left: 5px solid tomato;
}

#exp-item-two {
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}