body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    display: block;
    width: 100%;
    height: 400px;
    padding: 20px 0;
}

.secondary-container {
    display: block;
    width: 1150px;
    height: 100%;
    margin: 0 auto;
}

.container-items {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    background: rgb(200, 200, 200);
}

h1 {
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.color-text {
    color: orange;
}

h3 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    color: rgb(80, 80, 80);
}

.btn-style {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(to right, salmon, orangered);
    color: white;
    font-weight: 700;
}

#prof-bg-container {
    background-image: url("../img//prof-bg.png");
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

#prof-bg-two-container {
    background-image: url("../img//prof-bg2.png");
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: left;
}

#top-container {
    background-image: url("../img/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
}

.tenpx-vspace {
    display: block;
    width: 100%;
    height: 10px;
}