body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container {
    display: block;
    width: 100%;
    height: 400px;
    padding: 20px 0;
}

.secondary-container {
    display: block;
    width: 1150px;
    height: 100%;
    margin: 0 auto;
}

.container-items {
    display: block;
    float: left;
    width: 50%;
    height: 100%;
}

h1 {
    font-size: 35px;
    margin: 0;
    padding: 0;
}

.color-text {
    color: orange;
}

h3 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    color: rgb(80, 80, 80);
}

.btn-style {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(to right, salmon, orangered);
    color: white;
    font-weight: 700;
}

#prof-bg-container {
    background-image: url("../img//prof-bg.png");
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

#prof-bg-two-container {
    background-image: url("../img//prof-bg2.png");
    background-size: 70% 100%;
    background-repeat: no-repeat;
    background-position: left;
}

#top-container {
    background-image: url("../img/top-banner.png");
    background-repeat: no-repeat;
}

#mid-container {
    background-image: url("../img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

#bottom-container {
    background-image: url("../img/exp-bg.png");
    background-repeat: no-repeat;
}

#experiences-container {
    display: block;
    width: 100%;
    height: 80%;
}

.exp-items {
    display: block;
    float: left;
    width: 34%;
    margin: 0 5%;
    height: 96%;
    padding: 2%;
    box-shadow: 10px 10px 40px gray;
}

#pro-exp {
    border-left: 5px solid tomato;
}

#learner-exp {
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

h2 {
    font-size: 27px;
    margin: 0;
    padding: 0;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-image: linear-gradient(to right, orangered, salmon);
    color: white;
    font-weight: 700;
}

.tenpx-vspace {
    display: block;
    width: 100%;
    height: 10px;
}